{% for server in ntp_servers -%}
server {{ server }} {{ ntp_server_options }}
{% endfor %}

stratumweight {{ ntp_stratumweight }}
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
bindcmdaddress 127.0.0.1
bindcmdaddress ::1
noclientlog
logchange 0.5
keyfile /etc/chrony.keys
logdir /var/log/chrony
ntsdumpdir /var/lib/chrony
leapsectz right/UTC

#log measurements statistics tracking
#allow 192.168/16
