ntp = policy.todnames(filter_strings({
  {% for server in ntp_servers %}
  '{{ server.hostname }}.',
  {% endfor %}
}))

policy.add(policy.suffix(policy.FLAGS({'NO_CACHE', 'NO_EDNS', 'NO_0X20'}), ntp))

{% raw %}
policy.add(policy.suffix(policy.STUB({
{% endraw %}
{% for item in ntp_dns_forward %}
{% if kresd_ipv6 and item.address | ansible.utils.ipv6 %}
{{ '\'' + item.address | ansible.utils.ipv6('address') + '@' + item.port | default(53) | string + '\',' }}
{% endif %}
{% endfor %}
{% for item in ntp_dns_forward %}
{% if kresd_ipv4 and item.address | ansible.utils.ipv4 %}
{{ '\'' + item.address | ansible.utils.ipv4('address') + '@' + item.port | default(53) | string + '\',' }}
{% endif %}
{% endfor %}
{% raw %}
}), ntp))
{% endraw %}

